body{
    color:black;
   font-family: 'Open Sans', sans-serif;
}

.bottom-border{
    border-bottom: 2px solid black;
}

@media (max-width:600px){
    h1.hide-me{
        display: none !important;
    }
}
