body,html{
    width: 100%;
    height: 100%;
    color:black;
    font-family: 'Open Sans', sans-serif;
    background-color:#bac7a7;
}

.bottom-border{
    border-bottom: 2px solid black;
}
/*media q to hide h1 on smaller screens*/
@media (max-width:600px){
    h1.hide-me{
        display: none !important;
    }
}
/*styling of navbar*/
#navbar-custom{
    background-color: #698474;
   border: 1px solid black;

  
}
#navbar-custom.footer-navi{
    margin-top: 50px;
}
/* color of links*/
.nav-link { 
    color: black;
    font-size: 24px;
    position: relative;
    left: 150px;
    margin-left: 20px;
}
/* hover color of links in navbar*/
.navbar-nav  li>a:hover{
    color:chartreuse;
}

h1.my, h1.hide-me{
    text-align: center;

}
.column{
    margin-bottom: 20px;
}

.card{
    margin: 20px 94px 20px 94px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.card-deck{
    margin: auto;
}

.card-img-top{
    width: 100%;
    min-height: 171px;
    object-fit: cover;
}

.card-body{
    
    background-color: #bac7a7;
}

p.card-text{
    min-height: 100px;
}

.social-footer{
    position: relative;
}

ul.social {
    text-align: center;
    width: 100%;
    margin-right:10px;
    padding: 0;
    position: absolute;

  
    
}

ul{
    width: 70%;
    list-style-type: none;
    
   
}

li.social-list-item{
    margin: 0 10px;
    max-width: 60px;
    display: inline;

}

i{
    font-size: 30px;
    margin: 0;
}
a.social-link{
    max-width: 22px;
}

